<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>废钢价格信息</title>
    <!-- 引入 ECharts 库 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.0/echarts.min.js"></script>
</head>

<body>
    <h1>废钢价格信息</h1>
    <!-- 为 ECharts 准备一个 DOM 容器 -->
    <div id="steel-price-chart" style="width: 800px; height: 400px;"></div>

    <script type="text/javascript">
        // 基于准备好的 DOM，初始化 echarts 实例
        var myChart = echarts.init(document.getElementById('steel-price-chart'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '废钢价格柱状图'
            },
            tooltip: {
                formatter: function (params) {
                    // 在 tooltip 中显示日期
                    return '名称: ' + params.name + '<br>价格: ' + params.value + '<br>日期: ' + params.data.date;
                }
            },
            xAxis: {
                data: [
                    {% for name in steel_names %}
                    "{{ name }}",
                    {% endfor %}
                ]
            },
            yAxis: {},
            series: [{
                name: '价格',
                type: 'bar',
                data: [
                    {% for i in range(steel_prices|length) %}
                    { value: {{ steel_prices[i] }}, date: "{{ steel_dates[i] }}" },
                    {% endfor %}
                ]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>

</html>